CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.idea
/build-debug
/build-release
/cmake-build-debug
/cmake-build-release
/cmake-build-debug-coverage
/cmake-build-release-coverage
/cmake-build-debug-mingw
/cmake-build-release-mingw
/cmake-build-debug-sys2
/cmake-build-release-sys2
/cmake-build-default
/cmake-build-minsizerel
/cmake-build-relwithdebinfo
/.vscode
.ninja
Makefile
CMakeFiles/
CMakeCache.txt
build/
.o
.so
.exe
.iso
.dmg
.jar
.dll
.class
.com
